body {
    font-family: "Lato", sans-serif
}
.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 48px;
    bottom: 0;
    height: inherit;
}
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }